<div class="panel-group" id="accordion">

  <%= form_tag(:action => :search, :method => :post) do %>
      <div class="field">
        <%= label_tag '课程类型'%>
        <%= text_field_tag :coursetype %>
      </div>
      <div class="actions">
        <%= submit_tag "查询" %>
      </div>
  <% end %>

</div>